.Card{
    width: 90%;
    margin: 10px;
    display: grid;
    grid-template-rows: 20px 1fr;
    border: rgb(102, 105, 104) solid 2px;
    border-radius: 30px;
    background-color: rgb(93, 202, 188);
    overflow: hidden;
}

.Card .CardHeader{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CardHeader h2{
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(61, 59, 59);
}

.gasto{
    background-color: rgb(241, 141, 141);
}

.ingreso{
    background-color: rgb(150, 243, 201);
}

.Card .CardBody{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.CardBody .CardImg{
    width: 80px;
    height: 80px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ffffff;
    object-fit: cover;
    object-position: center;
}

.CardImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.CardBody .CardText{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.CardText h2{
    font-size: 1.6rem;
    font-weight: bold;
    color: #3d3b3b;
}

.CardText h3{
    font-size: 1.4rem;
    font-weight: bold;
    color: #3d3b3b;
}

.CardText h4{
    font-size: 1.2rem;
    font-weight: bold;
    color: #5a5959;
    margin-top: 15px;
    margin-right: 30px;
    text-align: right;
}