.NavbarContainer{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
}

.NavbarContainer nav{
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #94919170;
    border-radius: 30px;
}

nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

nav ul li{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
}

nav ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;        
    text-decoration: none;
    border-radius: 50%;
    background-color: #94919170;
}

.NavbarContainer nav ul li a:hover{
    color: #7fffd4;
    box-shadow: 2px 2px 5px #fff;
    transform: scale(1.6);
}

.Active{
    color: #7fffd4;
    transform: scale(1.3);
}