*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    overflow-x: hidden;
}

.App{
    width: 100%;
    padding: auto;
    background-color: #333;
    position: relative;
}
