.HomePage{
    width: 100%;
    height: 100vh;
    color: rgb(61, 60, 60);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

.HomePage .MovementsContainer{
    width: 90%;
    min-height: 700px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: rgb(252, 252, 252);
    overflow-y: auto;
}